body {
  background-color: #fff;
  color: #333;
  // font-family: verdana, arial, helvetica, sans-serif;
  // font-size: 13px;
  // line-height: 18px;
}

// p, ol, ul, td {
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
// }

pre {
  background-color: #eee;
  padding: 10px;
  // font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#notice {
  color: green;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

table.xw-sliced {
  padding: 0;
  line-height: 0px;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0px;
  img {
    min-height: 100%;
    min-width: 100%;
    height: 0;
  }
  td {
    padding: 0;
  }
}

table.xw-layered {
  div.xw-cell {
    position: relative;
    top: 0px;
    left: 0px;
    width: 28px;
    height: 28px;
    img {
      position: absolute;
      &.xw-fill {
        z-index: 11;
      }
      &.xw-grid  {
        z-index: 14;
      }
      &.xw-border {
        z-index: 16;
      }
      &.xw-value {
        z-index: 20;
      }
    }
  }
}

table#cardroot {
  height: 660px;
  width: 440px;
}

table#lettergrid {
  height: 84px;
  width: 168px;
}

table#bonusword {
  height: 28px;
  width: 140px;
}

table#bonusvalue {
  height: 28px;
  width: 84px;
}

// The second layer establishes the constant cell grid.  This could be done with style markup, but a 
// an image of a 1-pixel border around a transparent center was used instead to enable a marbled effect.

// The third layer establishes highlighting and contents.  These could be two separate layers, but no pixel in 
// grid is opaque in both a highlighting sprite and a cursor/content sprite, so a fourth layer is spared.

// Like xw-grid, cell contents (xw-value) are always visible.  JQuery animations temporarily override this with 
// animation to cause a cursor flicker to indicate the xwt-active cell--the one exception that where style-sheet 
// rules are overridden.

// The background image to display depends on the state of a its parent TD cell.  There are four basic states:
// Inactive -- Base state--not involved in any current edit activity
// Active -- The result of a mouse click to activate editing on a cell.
// Connected -- The result of keyboard input flowing to a subsequent cell until word completion
// Illegal -- An un-clickable cell next to both a horizontal and a vertical word.
//
// The Active and Connected states have sub-states to distinguish the single-cell and multi-cell regions.  In
// the latter case, horizontal and vertical matter as well.

// Highlighting is the most complicated style set present since there are
// 7 possible states.  Each state needs two rules: one activating it under its
// own div parent selector, and a rule hiding it when its matching selector is
// not present on the parent div.

// Any image tag not explicitly styled as visible by this point is not active
// under any cell's given state and so this catch-all rule de-activates the
// rest to avoid writing lots of rules for de-activation.


// The TD elements are given relative positioning so that they can provide an
// anchor for absolutely positiong the layering of images used to compose the
// crossword grid's graphical elements.
table#lettergrid {
  width: 308px;
  height: 308px;
  background-color: #19D919;
  &.xw-horizontal div.xw-cell {
    &.xw-hsel {
      img.xw-fill.xw-selected {
        visibility: visible;
      }
      &.xw-htop img.xw-border.xw-htop {
        visibility: visible;
      }
      &.xw-hmid img.xw-border.xw-hmid {
        visibility: visible;
      }
      &.xw-hend img.xw-border.xw-hend {
        visibility: visible;
      }
    }
    &.xw-samerow img.xw-fill.xw-mainpath {
      visibility: visible;
    }
    &.xw-samecol img.xw-fill.xw-altpath {
      visibility: visible;
    }
  }
  &.xw-vertical div.xw-cell {
    &.xw-vsel {
      img.xw-fill.xw-selected {
        visibility: visible;
      }
      &.xw-vtop img.xw-border.xw-vtop {
        visibility: visible;
      }
      &.xw-vmid img.xw-border.xw-vmid {
        visibility: visible;
      }
      &.xw-vend img.xw-border.xw-vend {
        visibility: visible;
      }
    }
    &.xw-samerow img.xw-fill.xw-altpath {
      visibility: visible;
    }
    &.xw-samecol img.xw-fill.xw-mainpath {
      visibility: visible;
    }
  }
  div.xw-cell img {
    visibility: hidden;

    &.xw-fill.xw-initial {
      visibility:visible;
      z-index: 8;
    }
    &.xw-grid, &.xw-value {
      visibility: visible;
    }
  }
}


