html, body {
  background-color: #eeeeee;
}
body {padding-top: 40px;}
.container > footer p {text-align: center;}
.container {width: 820px;}
.content {
  background-color: #ffffff;
  padding: 20px;
  margin: 0 -20px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.brown { background-color: #4f2f0f; }
.page-header {
  background-color: #0f2ff4;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}
.content .span10,.content .span4 {min-height: 500px;}
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}
.page-header h1, .page-header h1 small {
  color: #ffffff;
}
.topbar .btn {
  border: 0;
}

